---
title: เทมเพลต
slug: templates
date: 0003/01/01
number: 3
contents: เรียนรู้วิธีใช้เทมเพลตด้วย Spacebars|สร้างเทมเพลตสามตัวแรกของคุณ|เข้าใจว่า Meteor จัดการสิ่งต่างๆ ได้อย่างไร|สร้างแอพต้นแบบที่ทำงานกับข้อมูลง่ายๆ
paragraphs: 46
---

เพื่อให้สร้างแอพได้ง่ายขึ้น เราจะใช้วิธีการแบบ outside-in โดยเริ่มจากการสร้างเปลือกนอกของแอพด้วยไฟล์ HTML และจาวาสคริปต์ก่อน จากนั้นก็เขียนโค้ดเพิ่มเข้าไป เพื่อให้มันทำงานได้

โดยในบทนี้ เราจะแก้ไขและสร้างไฟล์แค่ในโฟลเดอร์ `/client` เท่านั้น

ขั้นแรกให้คุณเปิดไฟล์ `main.html` ที่สร้างไว้แล้วในโฟลเดอร์ `/client` แล้วป้อนโค้ดต่อไปนี้ลงไป :

~~~html
<head>
  <title>Microscope</title>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Microscope</a>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{> postsList}}
    </div>
  </div>
</body>
~~~
<%= caption "client/main.html" %>

เราจะใช้ไฟล์นี้เป็นเทมเพลตหลักของแอพ โค้ดที่คุณเห็นในไฟล์เกือบทั้งหมดเป็น HTML ยกเว้นตรงตำแหน่ง `{{> postList}}`  ที่ Meteor จะนำข้อมูลที่ได้จากเทมเพลต `postsList` แทรกเข้าไปแทน สิ่งที่เราต้องทำต่อก็คือสร้างเทมเพลทเพิ่มขึ้นอีกสองสามตัว

### เทมเพลทของ Meteor

หลักๆ แล้ว เว็บข่าวสังคมก็จะมีข่าวต่างๆ แสดงไล่เรียงกันลงมาเป็นรายการๆ ในรูปแบบที่เรียกว่าลิสต์ ที่เราจะนำมาใช้ในเทมเพลทของเรานั่นเอง

เริ่มกันต่อโดยการสร้างโฟลเดอร์ `/templates` ข้างใน `/client` ไว้เก็บเทมเพลททั้งหมด และสร้างโฟลเดอร์ย่อย `/posts` ใน `/templates` อีกตัว เพื่อไว้เก็บเทมเพลทต่างๆที่เกี่ยวกับโพสท์

<% note do %>

### การค้นหาไฟล์

Meteor เก่งในเรื่องการค้นหาไฟล์ ไม่ว่าคุณจะสร้างไฟล์ไว้ที่ไหนในโฟลเดอร์ `/client` มันก็จะค้นหาจนเจอและจัดการคอมไพล์ได้ถูกต้อง สิ่งที่เราได้คือเราไม่ต้องคอยผูกไฟล์เข้าไปในแอพอยู่ตลอดไม่ว่าจะเป็นไฟล์จาวาสคริปต์หรือสไตล์ชีต (CSS)

ยิ่งกว่านั้น คุณยังสามารถเลือกที่จะแยกโค้ดเป็นไฟล์หลายๆ ไฟล์ในโฟลเดอร์เดียว หรือรวมโค้ดทั้งหมดลงในไฟล์เดียวกันก็ได้ ซึ่งไม่ว่าจะทำแบบไหน Meteor ก็จะคอมไพล์ทุกไฟล์ที่พบเป็นไฟล์ที่ย่นย่อแล้วเพียงไฟล์เดียว แต่เพื่อความสะดวกในการจัดการเราก็จะแยกเก็บไฟล์ลงโฟลเดอร์ตามที่เราทำมาแล้วต่อไป

<% end %>

////

~~~html
<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>
~~~
<%= caption "client/views/posts/posts_list.html" %>

////

~~~html
<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
    </div>
  </div>
</template>
~~~
<%= caption "client/views/posts/post_item.html" %>

////

////

////

////

////

<% note do %>

### Going Further

////

<% end %>

////

////

////

////

////

### Template Managers

////

////

////

<% note do %>

### Managers?

////

////

////

<% end %>

////

~~~js
var postsData = [
  {
    title: 'Introducing Telescope',
    author: 'Sacha Greif',
    url: 'http://sachagreif.com/introducing-telescope/'
  },
  {
    title: 'Meteor',
    author: 'Tom Coleman',
    url: 'http://meteor.com'
  },
  {
    title: 'The Meteor Book',
    author: 'Tom Coleman',
    url: 'http://themeteorbook.com'
  }
];
Template.postsList.helpers({
  posts: postsData
});
~~~
<%= caption "client/views/posts/posts_list.js" %>

////

<%= screenshot "3-1", "Our first templates with static data" %>

<%= commit "3-1", "Added basic posts list template and static data." %>

////

////

////

~~~html
<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>
~~~
<%= caption "client/views/posts/posts_list.html" %>

////

### The Value of "this"

////

~~~js
Template.postItem.helpers({
  domain: function() {
    var a = document.createElement('a');
    a.href = this.url;
    return a.hostname;
  }
});
~~~
<%= caption "client/views/posts/post_item.js" %>

<%= commit "3-2", "Setup a `domain` helper on the `postItem`." %>

////

<%= screenshot "3-2", "Displaying domains for each links." %>

////

////

////

////

<% note do %>

### JavaScript Magic

////

////

////

<% end %>

////

<% note do %>

### Hot Code Reload

////

////

////

<% end %>
